<!DOCTYPE html>
<html lang="en" class="h-full w-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <style>
        #showLatest.open {
            max-height: 40vh;
        }

        #showLatest1.open {
            max-height: 40vh;
        }

        #showLatest2.open {
            max-height: 40vh;
        }

        #showLatest3.open {
            max-height: 40vh;
        }

        body {
            background-image: url("images/showcase.jpg");
        }

        .rajsthanIndianPlayer {
            background-image: url("images/royals-impact-bg.png");
            background-repeat: no-repeat;
            width: 100%;
            background-size: cover;
        }

        .totalPlayer {
            background-image: url("images/pixel-blur.png");
        }

        .webkit {
            -webkit-text-stroke: .1rem hsl(0 0% 100%);
        }

        .rightintbac {
            background-image: url("images/impact-title-light.webp");
            background-size: contain;
            background-repeat: no-repeat;
        }

        .megastore {
            background-image: url("images/mega.webp");
        }

        .videos {
            background-image: url("images/video.jpg");
        }

        .NewsSection {
            background-image: url("images/news.jpg");
        }

        .photos {
            background-image: url("images/photo.jpg");
            background-repeat: no-repeat;
        }

        .player {
            background-image: url("images/squad.jpg");
        }
    </style>
    <title>Royal's Club</title>
</head>

<body class="h-full w-full ">
    <header class="w-full top-0 fixed z-10">
        <div class="h-[14vh] flex w-full ">
            <!-- logo -->
            <div class="logo">
                <img src="images\rajasthan-royals-pink-background-pq1ac3zfrvq4wy4f.jpg" alt="" class="h-full w-[8vw] ">
            </div>
            <!-- navigation -->
            <div class="nav flex flex-col w-full h-full">
                <div class="upper-header  bg-[#EA1885] w-full h-[5vh] text-white flex justify-between items-center">
                    <nav class="left-nav w-2/5 font-medium ml-[1vw]">
                        <ul class="flex flex-row list-none text-[.8rem] justify-between   ">
                            <li><a href="#">ROYALS ACADEMY</a></li>
                            <li><a href="#">ROYALS SCHOOL OF BUSINESS</a></li>
                            <li><a href="#">ROYAL RAJASTHAN FOUNDATION</a></li>
                        </ul>
                    </nav>
                    <nav class="right-nav flex p-[1vh] w-1/4">
                        <ul class="list-none w-full flex justify-between font-normal text-[.9rem] ">
                            <li><a href="" class=""><i class="fa-solid fa-bag-shopping Login mr-[6px] "></i>Shop</a>
                            </li>
                            <li><i class="fa-solid fa-toggle-off  mr-[5px] " id="darkMode"></i>Dark Mode</li>
                            <li><a href="" class="mr-[3vh]"><i class="fa-regular fa-user mr-[5px]"></i>Login</a></li>
                        </ul>
                    </nav>

                </div>
                <div class="lower-header w-full h-[9vh] bg-[#950460] flex justify-between">
                    <nav class="lower-left-nav h-full w-1/3 items-center text-white flex">

                        <ul class="flex justify-between w-full p-[2vh]">
                            <li class="float-left relative" id="Latest">
                                <span>Latest <i class="fa-solid fa-angle-down" id="latest-id"></i></span>
                                <ul class="flex flex-col mt-6  left-0 max-h-0 overflow-hidden absolute z-1 bg-black transition-all gap-3 duration-500 ease-in-out w-[8vw] pl-[1vw]"
                                    id="showLatest">
                                    <li><a href="">News</a></li>
                                    <li><a href="">Videos</a></li>
                                    <li><a href="">Photos</a></li>
                                    <li><a href="">Press Releases</a></li>
                                    <li class="mb-2"><a href="">NewsLetters</a></li>
                                </ul>
                            </li>

                            <li class="float-left relative" id="Latest1">
                                <span>IPL 2024<i class="fa-solid fa-angle-down " id="latest-id1"></i></span>
                                <ul class="flex flex-col mt-6 left-0 max-h-0 overflow-hidden gap-[1vh] absolute z-1 bg-black transition-all  duration-500 ease-in-out w-[8vw] pl-[1vw]"
                                    id="showLatest1">
                                    <li><a href="">Squad</a></li>
                                    <li><a href="">Matches</a></li>
                                    <li><a href="">Points Tables</a></li>
                                    <li><a href="">Stats</a></li>
                                    <li class="mb-2"><a href="">Auction</a></li>
                                </ul>
                            </li>
                            <li class="float-left relative" id="Latest2">
                                <span>Fan Zone<i class="fa-solid fa-angle-down " id="latest-id2"></i></span>
                                <ul class="flex flex-col mt-[20px] left-0 max-h-0 overflow-hidden absolute z-1 bg-black transition-all  duration-500 ease-in-out w-[7vw] pl-[1vw] gap-3"
                                    id="showLatest2">
                                    <li><a href="">WoRRid</a></li>
                                    <li class="mb-2"><a href="">Fan Blogs</a></li>

                                </ul>
                            </li>
                            <li class="float-left relative" id="Latest3">
                                <span> Royal Corener<i class="fa-solid fa-angle-down " id="latest-id3"></i></span>
                                <ul class="flex flex-col gap-3 mt-6 left-0 max-h-0 overflow-hidden absolute z-1 bg-black transition-all  duration-500 ease-in-out w-[15vw] pl-[1vw] text-center "
                                    id="showLatest3">
                                    <li><a href="" class="text-[.9rem]">Sawai Mansingh stadium, Jaipur </a></li>
                                    <li><a href="">ACA Stadium, Guwahati</a></li>
                                    <li><a href="">Halla Ball</a></li>
                                    <li><a href="">Cricket ka Ticket</a></li>
                                    <li class="mb-2"><a href="">Cricket Cup</a></li>
                                </ul>
                            </li>


                            <li class="flex items-center gap-[7px]">हिंदी</li>
                        </ul>


                    </nav>
                    <nav class="lower-right-nav w-1/4 p-[2vh] text-white text-[1.1]">
                        <ul class="flex justify-between ">
                            <li><a href="" class="text-[1.1rem]">Download App<i
                                        class="fa-brands fa-google-play ml-[10px] "></i></a></li>
                            <li><a href=""><i class="fa-brands fa-apple text-[1.6rem]"></i></a></li>
                            <li><a href="" class="border-1 rounded p-[1vh] bg-[#EA1885]">Whatsapp<i
                                        class="fa-brands fa-whatsapp ml-[10px]"></i></a></i></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>

    </header>




    <!--highlight news  -->
    <section class="highlight h-[92vh] w-full overflow-hidden mt-[10vh]">

        <div class="img-slide absolute h-full w-full flex justify-center items-center">
            <div class="news-contain h-[78vh] w-[69vw] relative">
                <img src="images/a5sWW4BpVa.webp" alt="" class="h-full w-full absolute brightness-50 rounded-[2vh]"
                    id="slideImg">
                <div class="text-news absolute w-full text-white top-3/4 flex flex-col  items-center">
                    <p class="text-[2rem] w-11/12 text-center text-3xl font-bold " id="slideNews">Ranji Trophy 2024-25:
                        Tanush Kotian picks up career-best match-haul in Mumbai’s opener against Baroda</p>
                    <a href="#" class="text-[#ea1885] ">News</a>


                </div>
                <div class="shift absolute top-[66vh] w-full flex justify-end gap-[2vh] h-[8vh] pr-[3vh] text-center brightness-125 text-white ">
                    <button class="flex justify-center items-center w-[4vh] h-[4vh]  rounded-full border-2 hover:bg-gradient-to-r from-purple-900 to-[#EA1885]" id="leftSlidebtn"> <i class="fa-solid fa-chevron-left"></i> </button>
                    <button class="flex justify-center items-center w-[4vh] h-[4vh]  rounded-full border-2 hover:bg-gradient-to-r from-purple-900 to-[#EA1885]"  id="rightSlidebtn"> <i class="fa-solid fa-chevron-right "></i></button>
                </div>


            </div>

        </div>

    </section>
    <!-- indian rajasthan player -->
    <section class="rajsthanIndianPlayer relative h-[80vh] mt-[20px]  bg-black ">

        <div class="internationalImg h-full w-full flex justify-center items-end absolute">
            <img src="images/impact-hero-image.webp" alt="" class="  h-[55vh] w-[50vw] ">
        </div>
        <div class="International flex justify-center h-full relative top-10">
            <div class="leftinternational flex ">
                <img src="images/international.png" class="h-[50vh] mr-2 mt-28" alt="">
                <div class="detail">
                    <p class="text-white font-bold text-4xl ">International</p>
                    <div class="totalPlayer text-white h-[15vh] mt-[2vh]">
                        <p class="bg-[#ea1885] text-center text-xl">Total Player</p>
                        <p class="text-center text-gray-400 text-5xl font-extrabold webkit">19</p>
                    </div>
                    <div class="totalPlayer text-white h-[15vh] mt-[2vh]">
                        <p class="bg-[#ea1885] text-center text-xl">Matches</p>
                        <p class="text-center text-gray-400 text-5xl font-extrabold webkit">476</p>
                    </div>
                    <div class="totalPlayer text-white h-[15vh] mt-[2vh]">
                        <p class="bg-[#ea1885] text-center text-xl">Run Scored</p>
                        <p class="text-center text-gray-400 text-5xl font-extrabold webkit">11467</p>
                    </div>
                    <div class="totalPlayer text-white h-[15vh] mt-[2vh]">
                        <p class="bg-[#ea1885] text-center text-xl">Wicket Taken</p>
                        <p class="text-center text-gray-400 text-5xl font-extrabold webkit">337</p>
                    </div>
                </div>
            </div>
            <div class="middleinternation text-white w-[38vw] text-center h-[60vh] flex flex-col items-center ml-[2vh] ">
                <div class="rightintbac w-[30vw] h-[15vh]"></div>
                <p>An overview of the Royals players and their international and domestic performances for India over
                    the years!</p>

            </div>
            <div class="leftinternational flex ">

                <div class="detail">
                    <p class="text-white font-bold text-4xl ">International</p>
                    <div class="totalPlayer text-white h-[15vh] mt-[2vh]">
                        <p class="bg-[#ea1885] text-center text-xl">Total Player</p>
                        <p class="text-center text-gray-400 text-5xl font-extrabold webkit">19</p>
                    </div>
                    <div class="totalPlayer text-white h-[15vh] mt-[2vh]">
                        <p class="bg-[#ea1885] text-center text-xl">Matches</p>
                        <p class="text-center text-gray-400 text-5xl font-extrabold webkit">476</p>
                    </div>
                    <div class="totalPlayer text-white h-[15vh] mt-[2vh]">
                        <p class="bg-[#ea1885] text-center text-xl">Run Scored</p>
                        <p class="text-center text-gray-400 text-5xl font-extrabold webkit">11467</p>
                    </div>
                    <div class="totalPlayer text-white h-[15vh] mt-[2vh]">
                        <p class="bg-[#ea1885] text-center text-xl">Wicket Taken</p>
                        <p class="text-center text-gray-400 text-5xl font-extrabold webkit">337</p>
                    </div>
                </div>
                <img src="images/domestic.png" class="h-[47vh] ml-2 mt-24" alt="">
            </div>

        </div>

    </section>
    <!-- megastore -->

    <section class="megastore h-85vh w-full flex justify-center p-[5vh]">
        <div class="store min-w-[73vw] max-w-[73vw] h-full flex flex-col justify-center gap-4">
            <div class="pmega flex justify-between text-white font-bold">
                <p class="text-xl font-bold">MEGASTORE</p>
                <a href="#" class="cursor-pointer">view more</a>
            </div>
            <div class="stroreDetail flex justify-between ">
                <div
                    class="product bg-white min-w-[18vw] max-w-[18vw] relative h-[57vh]  p-[1.5vh] rounded-sm flex flex-col justify-between">
                    <figure>
                        <img src="images/iZ00pwe9R8.webp" class="rounded-sm" alt="">
                        <p class="text-lg font-bold">Rahul Dravid Fan T-Shirt</p>
                    </figure>
                    <div class="price  pb-[2vh]">
                        <p class="text-lg font-bold mb-3">₹1299</p>
                        <a href="#"
                            class=" text-white bg-[#ea1885] h-[1vh] text-lg px-[5.2rem] py-[.4rem] rounded-md ">Buy
                            Now</a>
                    </div>
                </div>
                <div
                    class="product bg-white min-w-[17.5vw] max-w-[17.5vw] relative h-[57vh]  p-[1vh] rounded-sm flex flex-col justify-between">
                    <figure>
                        <img src="images/VRgZF2WNs9.webp" class="rounded-sm" alt="">
                        <p class="text-lg font-bold">Unisex Halla Bol Baseball Cap</p>
                    </figure>
                    <div class="price  pb-[2vh]">
                        <span class="text-lg font-bold mb-3 flex gap-[2vh]">
                            <p class="line-through">₹499</p>
                            <p>₹399</p>
                        </span>
                        <a href="#"
                            class=" text-white bg-[#ea1885] h-[1vh] text-lg px-[5.2rem] py-[.4rem] rounded-md ">Buy
                            Now</a>
                    </div>
                </div>
                <div
                    class="product bg-white min-w-[17.5vw] max-w-[17.5vw] relative h-[57vh]  p-[1vh] rounded-sm flex flex-col justify-between">
                    <figure>
                        <img src="images/gUmf7ydrgs.webp" class="rounded-sm" alt="">
                        <p class="text-lg font-bold">Round Neck White T-Shirt</p>
                    </figure>
                    <div class="price  pb-[2vh]">
                        <span class="text-lg font-bold mb-3 flex gap-[2vh]">
                            <p class="line-through">₹1199</p>
                            <p>₹499</p>
                        </span>
                        <a href="#"
                            class=" text-white bg-[#ea1885] h-[1vh] text-lg px-[5.2rem] py-[.4rem] rounded-md ">Buy
                            Now</a>
                    </div>
                </div>
                <div
                    class="product bg-white min-w-[17.5vw] max-w-[17.5vw] relative h-[57vh] p-[1vh] rounded-sm flex flex-col justify-between">
                    <figure>
                        <img src="images/AKImwoT3ny.webp" class="rounded-sm" alt="">
                        <p class="text-lg font-bold">IPL 2024 Official Fan Jersey</p>
                    </figure>
                    <div class="price  pb-[2vh]">
                        <p class="text-lg font-bold mb-3">₹1299</p>
                        <a href="#"
                            class=" text-white bg-[#ea1885] h-[1vh] text-lg px-[5.2rem] py-[.4rem] rounded-md ">Buy
                            Now</a>
                    </div>
                </div>


            </div>

        </div>
    </section>

    <!-- videos -->
    <section class="videos h-80vh w-full flex justify-center p-[5vh] ">
        <div class="videoBar min-w-[73vw] max-w-[73vw] h-full flex flex-col justify-center gap-4">
            <div class="videoSec flex justify-between text-white font-bold">
                <p class="text-xl font-bold">MEGASTORE</p>
                <a href="#" class="cursor-pointer">view more</a>
            </div>
            <div class="videoCon flex w-full justify-between">
                <div class="videoBt min-h-[55vh] max-h-[55vh] min-w-[17vw] max-w-[17vw] relative">
                    <img src="images/NIBW37BzC2.webp "
                        class="min-w-full max-w-full min-h-full max-h-full absolute brightness-50 rounded-lg " alt="">
                    <div class="videoDetails absolute text-white flex flex-col justify-end h-full w-full p-[2vh]">
                        <i class="fa-solid fa-play text-2xl"></i>
                        <p class="text-xl font-bold">When Jr. Jammy met his idol!</p>
                        <span class="flex justify-between"><span><i class="fa-solid fa-calendar-days mr-2"></i>09 Sep,
                                2024</span><span><i class="fa-solid fa-share-nodes text-xl"></i></span></span>

                    </div>
                </div>
                <div class="videoBt min-h-[55vh] max-h-[55vh] min-w-[17vw] max-w-[17vw] relative">
                    <img src="images/ExPex0tJgE.webp "
                        class="min-w-full max-w-full min-h-full max-h-full absolute brightness-50 rounded-lg" alt="">
                    <div class="videoDetails absolute text-white flex flex-col justify-end h-full w-full p-[2vh]">
                        <i class="fa-solid fa-play text-2xl"></i>
                        <p class="text-xl font-bold">Welcome to Rajasthan Royals, Rahul Dravid!</p>
                        <span class="flex justify-between"><span><i class="fa-solid fa-calendar-days mr-2"></i>06 Sep,
                                2024</span><span><i class="fa-solid fa-share-nodes text-xl"></i></span></span>

                    </div>
                </div>
                <div class="videoBt min-h-[55vh] max-h-[55vh] min-w-[17vw] max-w-[17vw] relative">
                    <img src="images/abtoL1EqAt.webp "
                        class="min-w-full max-w-full min-h-full max-h-full absolute brightness-50 rounded-lg" alt="">
                    <div class="videoDetails absolute text-white flex flex-col justify-end h-full w-full p-[2vh]">
                        <i class="fa-solid fa-play text-2xl"></i>
                        <p class="text-xl font-bold">EP3: Never Have I Ever ft. Hetmyer, Powell &...</p>
                        <span class="flex justify-between"><span><i class="fa-solid fa-calendar-days mr-2"></i>29 May,
                                2024</span><span><i class="fa-solid fa-share-nodes text-xl"></i></span></span>

                    </div>
                </div>
                <div class="videoBt min-h-[55vh] max-h-[55vh] min-w-[17vw] max-w-[17vw] relative">
                    <img src="images/ywVxadwirB.webp"
                        class="min-w-full max-w-full min-h-full max-h-full absolute brightness-50 rounded-lg" alt="">
                    <div class="videoDetails absolute text-white flex flex-col justify-end h-full w-full p-[2vh]">
                        <i class="fa-solid fa-play text-2xl"></i>
                        <p class="text-lg font-bold">Royals of 2024, Signing Off | Rajasthan Royals |...</p>
                        <span class="flex justify-between"><span><i class="fa-solid fa-calendar-days mr-2"></i>27 May,
                                2024</span><span><i class="fa-solid fa-share-nodes text-xl"></i></span></span>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="NewsSection w-full h-[45vh] flex justify-center items-center">
        <div class="newDiv min-w-[73vw] max-w-[73vw] mt-[20px]">
            <div class="videoSec flex justify-between text-black font-bold mb-[1vh]">
                <p class="text-xl font-bold">News</p>
                <a href="#" class="cursor-pointer">view more</a>
            </div>
            <div class="deatilNews w-full h-full flex justify-between ">
                <div class="mainNews relative w-[24vw] h-[30vh]">
                    <img src="images/JnTKKgkcS8.webp"
                        class="w-[24vw] h-full rounded-md brightness-75 absolute scale-100 transition-all duration-500 hover:scale-105">
                    <div class="videoDetails absolute text-white flex flex-col justify-end h-full w-full p-[0.6vh] ">
                        <p class="text-lg font-bold">Ranji Trophy 2024-25: All-round Rajasthan beat Himachal Pradesh in
                            second round</p>
                        <span class="flex justify-between m-[1vh]"><span><i
                                    class="fa-solid fa-calendar-days mr-2"></i>20 Oct,2024</span><span><i
                                    class="fa-solid fa-share-nodes text-xl"></i></span></span>

                    </div>
                </div>
                <div class="mainNews relative w-[24vw] h-[30vh]">
                    <img src="images/N6yzhExtQs.webp" class="w-[24vw] h-full rounded-md brightness-75 absolute ">
                    <div class="videoDetails absolute text-white flex flex-col justify-end h-full w-full p-[0.6] ">
                        <p class="text-lg font-bold">‘Expect him to do wonders’ - Rohit Sharma tips Yashasvi Jaiswal for
                            greatness</p>
                        <span class="flex justify-between m-[1vh]"><span><i
                                    class="fa-solid fa-calendar-days mr-2"></i>16 Oct,
                                2024</span><span><i class="fa-solid fa-share-nodes text-xl"></i></span></span>

                    </div>
                </div>
                <div class="mainNews relative w-[24vw] h-[30vh]">
                    <img src="images/WvvwvrWwBy (1).webp" class="w-[24vw] h-full rounded-md brightness-75 absolute ">
                    <div class="videoDetails absolute text-white flex flex-col justify-end h-full w-full p-[0.6vh] ">
                        <p class="text-lg font-bold">Sanju Samson underlines ‘desire is to play Test cricket for India’
                        </p>
                        <span class="flex justify-between m-[1vh]"><span><i
                                    class="fa-solid fa-calendar-days mr-2"></i>16 Oct,
                                2024</span><span><i class="fa-solid fa-share-nodes text-xl"></i></span></span>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="photos w-full h-[70vh] flex justify-center items-center">
        <div class="newDiv min-w-[73vw] max-w-[73vw] mt-[20px]">
            <div class="videoSec flex justify-between text-white font-bold mb-[1vh]">
                <p class="text-xl font-bold">News</p>
                <a href="#" class="cursor-pointer">view more</a>
            </div>
            <div class="deatilNews w-full h-full flex justify-between ">
                <div class="mainNews relative w-[17.5vw] bg-white h-[45vh] rounded-md overflow-hidden">
                    <img src="images/iDqus3BrGZ.jfif"
                        class="w-[17.5vw] h-[28vh]  brightness-75 cale-100 transition-all duration-500 hover:scale-105   ">
                    <div class="videoDetails  text-black flex flex-col h-full w-full p-[0.6vh] ">
                        <p class="text-lg font-bold">
                            Royal Rajasthan Foundation lights up 100 homes in</p>
                        <span class="flex justify-between m-[1vh]"><span><i
                                    class="fa-regular fa-calendar-days mr-2"></i>20 Oct,2024</span><span><i
                                    class="fa-regular fa-share-from-square text-xl"></i></span></span>

                    </div>
                </div>
                <div class="mainNews relative w-[17.5vw] bg-white h-[45vh] rounded-md overflow-hidden">
                    <img src="images/Nk9MlyUulM.webp"
                        class="w-[17.5w] h-[28vh]  brightness-75 cale-100 transition-all duration-500 hover:scale-105  ">
                    <div class="videoDetails  text-black flex flex-col h-full w-full p-[0.6vh] ">
                        <p class="text-lg font-bold">

                            RR vs SRH, IPL 2024 : Qualifier 2</p>
                        <span class="flex justify-between m-[1vh]"><span><i
                                    class="fa-regular fa-calendar-days mr-2"></i>20 Oct,2024</span><span><i
                                    class="fa-regular fa-share-from-square text-xl"></i></span></span>

                    </div>
                </div>
                <div class="mainNews relative w-[17.5vw] bg-white h-[45vh] rounded-md overflow-hidden">
                    <img src="images/AH3VLPwqBC.webp"
                        class="w-[17.5vw] h-[28vh]  brightness-75 scale-100 transition-all duration-500 hover:scale-105  ">
                    <div class="videoDetails  text-black flex flex-col h-full w-full p-[0.6vh] ">
                        <p class="text-lg font-bold">

                            RR vs RCB, IPL 2024 : Eliminator</p>
                        <span class="flex justify-between m-[1vh]"><span><i
                                    class="fa-regular fa-calendar-days mr-2"></i>20 Oct,2024</span><span><i
                                    class="fa-regular fa-share-from-square text-xl"></i></span></span>

                    </div>
                </div>
                <div class="mainNews relative w-[17.5vw] bg-white h-[45vh] rounded-md overflow-hidden">
                    <img src="images/Keo35u7xBJ.webp"
                        class="w-[17.5vw] h-[28vh]  brightness-75  scale-100 transition-all duration-500 hover:scale-105 ">
                    <div class="videoDetails  text-black flex flex-col h-full w-full p-[0.6vh] ">
                        <p class="text-lg font-bold">

                            RR vs PBKS, IPL 2024</p>
                        <span class="flex justify-between m-[1vh]"><span><i class="fa-regular fa-calendar-days mr-2">
                                </i>20 Oct,2024</span><span>
                                <i class="fa-regular fa-share-from-square text-xl"></i></span></span>

                    </div>
                </div>
            </div>
    </section>
    <section class="player w-full h-[100vh] flex justify-center items-center  p-5">
        <div class="slidemachine w-full flex justify-between h-full items-center">
            <div class="leftbutton"><button class="flex justify-center items-center w-[4vh] h-[4vh]  rounded-full border-2 hover:bg-gradient-to-r from-purple-900 to-[#EA1885]"> <i class="fa-solid fa-chevron-left"></i> </button>
            </div>
            <div class="image-container w-[70vw]">
                <div class="firstImage">
                    <img src="images/61837.png" alt="" class="h-[98vh]">
                    <div class="playerDetails">

                    </div>
                </div>
            </div>
            <div class="rightbutton">
                <button class="flex justify-center items-center w-[4vh] h-[4vh]  rounded-full border-2 hover:bg-gradient-to-r from-purple-900 to-[#EA1885]"> <i class="fa-solid fa-chevron-right"></i> </button>
            </div>
        </div>
       
    </section>
    <script src="script.js">

    </script>
</body>

</html>